@model Sistema.Models.View.ModelPreoloaderView;
@{
    <div class="preloader flex-column justify-content-center align-items-center" style="background-image: linear-gradient(45deg, #1ebdc3 2%, white 98%)">
        <img class="animation__wobble" src="~/images/@Model.srcImage" alt="@Model.alt">
    </div>
}