@{
    ViewData["Title"] = "Dashboard";
    Layout = "_Layout";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-12">
            <div class="col-sm-12" style="text-align:center">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content container-fluid text-center">
    <div class="row mb-12">
        <div class="col-sm-12">
                <img src="~/images/logo.png" alt="" style="width: 350px !important;">
        </div>
    </div>
    <h1>Proyeto UMG - Gustavo</h1>
</section>
